//fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

//font ref-names:

$globalFont: 'Montserrat', sans-serif;

//colors

$pageBlue: #123660;
$pageRed: #960000;

//menubar

$menuBackground: #123660;
$munebarColor: #fff;

//VSL section color?

$videoBorder: #123660;
$alertBold: #960000;

//sign up (2-step)

$fieldBox: #d2d2d2;
$buttonColor: #960000;
$buttonText: #fff;

//icon text color

$iconColor: #960000;

//Space blanket section

$gradient-blue: #123660;
$gradient-white: #fff;
$buttonShadow: #000;

//About section1

$headline: #123660;
$red: #960000;
$black: #000000;
$buttonGray:#afafaf;
